{% extends 'base.html' %}
{% load static %}
{% block content %}


			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero_banner image-cover image_bottom h4_bg">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="simple-search-wrap text-right">
								<div class="hero_search-2">
									<h1 class="banner_title mb-4 font-2">در مسیر پیشرفت، در کنار شما هستیم...</h1>
									<p class="font-lg mb-4">مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
									<form method="GET" action="{% url 'product_list' %}">
                                    <div class="input-group simple_search">
										<i class="fa fa-search ico"></i>
										<input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="جستجو دوره آموزش...">
										<div class="input-group-append">
											<button class="btn theme-bg" type="submit">جستجو</button>
										</div>
									</div>
                                    </form>
									<div class="crs_trio_info">
										<div class="crs_trio">
											<h4 class="ctr"><span class="rt_count">{{ total_users }}</span> کاربر</h4>
											<span class="pol_title">موفق و راضی</span>
										</div>
										<div class="crs_trio">
											<h4 class="ctr"><span class="rt_count">{{ total_instructors }}</span> مدرس</h4>
											<span class="pol_title">باتجربه و عالی</span>
										</div>
										<div class="crs_trio">
											<h4 class="ctr"><span class="rt_count">{{ total_products }}</span> دوره</h4>
											<span class="pol_title">آموزش آنلاین</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="side_block">
								<img src="{% static 'img/side-2.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ================================ Tag Award ================================ -->
			<section class="p-0">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="crp_box fl_color ovr_top">
								<div class="row align-items-center">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
										<div class="dro_140">
											<div class="dro_141"><i class="fa fa-journal-whills"></i></div>
											<div class="dro_142">
												<h6>200+ دوره آموزشی</h6>
												<p>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
										<div class="dro_140">
											<div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
											<div class="dro_142">
												<h6>پشتیبانی مادام العمر</h6>
												<p>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
										<div class="dro_140">
											<div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
											<div class="dro_142">
												<h6>800 هنرجو</h6>
												<p>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</section>
			<!-- ================================ Tag Award ================================ -->
			
			<!-- ============================ Featured Categories Start ================================== -->
			<section class="min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">محورهای آموزشی <span class="theme-cl">منتخب</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					
					<div class="row justify-content-center">
						<!-- Single Category -->
                        {% for category in categories %}
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="{% url 'category_detail' category.id %}" class="crs_cate_box">
									<img src="{{ category.icon.url }}" alt="{{ category.name }}" class="category-icon">
                                    <br>
									<div class="crs_cate_caption"><span>{{ category.name }}</span></div>
									<div class="crs_cate_count"><span>{{ category.course_count }} دوره</span></div>
								</a>
							</div>
						</div>
                            {% endfor %}
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Featured Categories End ================================== -->
			
			<!-- ============================ Latest Cources Start ================================== -->
			<section class="gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">دوره های آموزشی <span class="theme-cl">رایـگان</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
					
						<!-- Single Grid -->
                        {% for product in latest_products %}
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="{% url 'product_detail' product.id %}" class="crs_detail_link">
                                        {% if product.image %}
										<img src="{{ product.image.url }}" class="img-fluid rounded" alt="" />
                                        {% endif %}
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates"><span>{{ product.category.name }}</span></div>
										</div>
										<div class="crs_fl_last">
                                            {% if product.is_free %}
											<div class="crs_price"><h2><span class="theme-cl">رایگان</span><span class="currency"></span></h2></div>
                                             {% else %}
                                            <div class="crs_price"><h2><span class="theme-cl">{{ product.price }}</span><span class="currency">تومان</span></h2></div>
                                            {% endif %}
										</div>
									</div>
									<div class="crs_title"><h4><a href="{% url 'product_detail' product.id %}" class="crs_title_link">{{ product.name }}</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>{{ product.duration }} ساعت</span></li>
											<li><i class="fa fa-video text-success"></i><span>{{ product.video_count }}ویدیو </span></li>
                                            <li><i class="fa fa-signal text-warning"></i><span>{{ product.get_level_display }}</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
                                        <div class="crs_flex">
                                            <div class="crs_fl_first">
                                                {% if product.instructors.all %}
                                                    {% with instructor=product.instructors.all.0 %}
                                                    <div class="crs_tutor">
                                                        <div class="crs_tutor_thumb"><a
                                                                href="instructor-detail.html"><img
                                                                src="{{ instructor.image.url }}"
                                                                class="img-fluid circle" alt=""></a></div>
                                                        <div class="crs_tutor_name"><a
                                                                href="">{{ instructor.name }}</a>
                                                        </div>
                                                    </div>
                                                    {% endwith %}
                                                {% else %}
                                                    <p>مدرس برای این محصول موجود نیست.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
							</div>
						</div>
                        {% endfor %}
					</div>
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 mt-2">
							<div class="text-center"><a href="{% url 'product_list' %}" class="btn btn-md theme-bg-light theme-cl">همه آموزش ها</a></div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Latest Cources End ================================== -->
			
			<!-- ============================ Work Process Start ================================== -->
			<section class="imageblock">
				<div class="imageblock__content">
					<div class="background-image-holder" style="background: url({% static 'img/side-1.jpg' %});">
                        <img alt="image" src="{% static 'img/side-1.jpg' %}">
                    </div>
				</div>
				<div class="container">
					
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
							<div class="lmp_caption">
								<h2 class="mb-3 font-2">معرفی بهترین مربیان در شهر شما</h2>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">دسترسی کاملا مادام العمر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">بیش از 20 منبع قابل دانلود</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">ارائه مدرک معتبر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">آزمایشی رایگان 7 روز</h6>
									</div>
								</div>
								<div class="text-right mt-4"><a href="{% url 'register' %}" class="btn btn-md text-light theme-bg">شروع ثبت نام</a></div>
							</div>
						</div>
					</div>
				</div>
			</section>
				
			<section class="imageblock pt-m-0">
				<div class="imageblock__content right">
					<div class="background-image-holder" style="background: url({% static 'img/side-2.jpg' %});">
                        <img alt="image" src="{% static 'img/side-1.jpg' %}">
                    </div>
				</div>
				<div class="container">
					<div class="row align-items-center justify-content-end">
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
							<div class="lmp_caption">
								<ol class="list-unstyled p-0">
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-photo-video"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">آپلود دوره های آموزشی</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-edit"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">سفارشی سازی آسان</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								   <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-question-circle"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">پرسش سوالات نامحدود</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-thumbs-up"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">100% رضایت کاربر</h4>
									  <p>
										سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
									  </p>
									</div>
								  </li>
								</ol>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Work Process End ================================== -->
			
			<!-- ============================ Our Instructor Start ================================== -->
			<section class="gray">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h3 class="font-2">لیست مدرسین <span class="theme-cl">پیشنهادی</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="tutor-slide">

								
								<!-- Single Item -->
                                {% for instructor in instructors %}
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
                                            {% if instructor.image %}
											<a href="" class="crs_trt_thum_link"><img src="{{ instructor.image.url }}" class="img-fluid" alt="{{ instructor.name }}" /></a>
										    {% endif %}
                                        </div>
										<div class="crs_trt_caption large">

											<div class="instructor_title"><h4><a href="">{{ instructor.name }}</a></h4></div>
                                            <br>
                                            <div class="crs_trt_ent"><i class="fa fa-user"></i> {{ instructor.description|truncatewords:15 }}</div>
										</div>

									</div>
								</div>
								    {% empty %}
        <p>هیچ مدرسی ثبت نشده است.</p>
    {% endfor %}

							
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Our Instructor End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3 class="font-2">آیا سوالی دارید؟</h3>
									<span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
								</div>
								<a href="{% url 'contact_us' %}" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->


        <style>
        /* style.css یا هر فایلی که استایل‌های شما در آن قرار دارد */
        .category-icon {
            max-width: 50px; /* حداکثر عرض ایکون */
            max-height: 50px; /* حداکثر ارتفاع ایکون */
            width: auto; /* عرض ایکون به نسبت ابعادش تنظیم شود */
            height: auto; /* ارتفاع ایکون به نسبت ابعادش تنظیم شود */
            border-radius: 50%; /* گرد کردن گوشه‌ها */
            object-fit: cover; /* اطمینان از اینکه تصویر با نسبت ابعاد مناسب قرار گیرد */
        }

        /* اضافه کردن سایه به کادر دسته‌بندی‌ها */
        .cates_crs_wrip {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* سایه کمرنگ */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* انیمیشن برای تغییر سایه و بزرگ شدن */
        }

        /* تغییر سایه و اندازه کادر هنگام هاور */
        .cates_crs_wrip:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* سایه تیره‌تر */
            transform: scale(1.05); /* بزرگتر شدن کمی */
        }

        /* افزودن انیمیشن برای تغییر اندازه ایکون هنگام هاور */
        .cates_crs_wrip:hover .category-icon {
            transform: scale(1.1); /* بزرگتر شدن ایکون */
        }

        /* افکت هاور روی نوشته‌ها */
        .cates_crs_wrip:hover .crs_capt_cat h4,
        .cates_crs_wrip:hover .crs_capt_cat p {
            color: #FFFFFF; /* تغییر رنگ نوشته‌ها هنگام هاور */
        }

    </style>

{% endblock %}
