{% extends 'base.html' %}
{% load static %}
{% block content %}


    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">

						<div class="col-lg-6 col-md-10">
						  <div class="text-center succ_wrap">
							<div class="succ_121 mb-3">
							  <i class="fas fa-thumbs-up"></i>
							</div>
							<div>
							  <h4 class="font-2">رمز عبور شما با موفقیقت تعغیر کرد</h4>
							  <p>لطفا رمز حساب کاربری خود را در اختیار دیگران قرار ندهید</p>
							</div>
							<div>
							  <a href="{% url 'home' %}" class="btn theme-bg text-white">بازگشت به خانه</a>
							</div>
						  </div>
						</div>
					</div>

    <br>
    <br>

{% endblock %}

